{% extends 'base.html' %}
{% block title %}Alterar Senha — Sistema de Aprovação{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-card">
        <h2>Nova Senha</h2>
        <form method="post">
            <div class="form-group">
                <label for="senha" class="form-label">Digite sua nova senha</label>
                <input type="password" id="senha" name="senha" required class="form-control"
                    placeholder="Nova senha">
            </div>
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </form>
    </div>
</div>
{% endblock %}
